@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --mainFont: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background-color: rgb(161, 100, 223);
    font-family: var(--mainFont);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.btn {
    font: inherit;
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s ease;
}

.btn:hover {
    opacity: .9;
}

.btn:focus {
    outline: none;
}