@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --mainFont: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--mainFont);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}